.bold
{
  font-weight:bold;
}
.result_wrapper
{
  width:100%;
  height:auto;

  background:url('gallery/goodluck.jpg');
  background-size:cover;
  background-repeat: no-repeat;
    background-attachment: fixed;

  padding:95px;
  padding-right:0px;
  padding-left:0px;
  background:teal;
  position: relative;
  height:70.67vh;

}
.resultsearch
{
	background:rgba(255,255,255,0.2);
  background:rgba(0,0,0,0.9);
	//margin:195px 0px 175px 0px;
	position:relative;
	right:-270px;
  top:250px;
  box-shadow:0px 3px 10px black;
  border:2px solid white;
  text-align: center;
  padding:25px 20px 10px 20px;

  border-radius:10px;
	}
.resultsearch input
{
  padding:13px;
  border:3px solid white;
     border-radius:8px;
     outline:0;
}
.resultsearch .button:hover
{
  background:white;
  color:black;
  transition:all 0.6s;
  border:3px solid black;
  cursor:pointer;

}

.marksheet_wrapper
{
  background:url("gallery/paper1.jpg");
  background-size:cover;
  width:80%;
  margin:5px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  box-shadow:0px 10px 10px black;

  padding:40px 0px 100px 0px;
}
#collegein
{
  width:70%;
 //background:red;
padding-top:10px;
  margin-left:auto;
  margin-right:auto;
}
#collegein img
{
  height:70px;
  width:8 0px;
  position:absolute;
}
.marksheet_table
{
  //background:url('gallery/paper.jpg');
  background-size:cover;
  border:2px solid black;
  padding:20px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  margin-bottom:20px;
  border-radius:5px;
}
.marksheet_table tr td
{
  border:1px solid black;
  padding:10px;

}
.marksheet_table tr td
{
  border-right:0px solid black;
  border-left:0px solid black ;

}
.msdetail
{
width:70%;
margin:30px;
//background:red;
margin-left:auto;
margin-right:auto;
}
.msdetail tr td
{
  padding:5px;
}
.after_table
{
  margin-left:150px;
  text-align:left;
}
